<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>filters.SecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>XSSFilter</filter-name>
        <filter-class>filters.XSSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XSSFilter</filter-name>
        <url-pattern>/ChangeFeatures</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>SContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ChangeFeatures</servlet-name>
        <servlet-class>admin.ChangeFeatures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveFeatures</servlet-name>
        <servlet-class>manager.ApproveFeatures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisapproveFeatures</servlet-name>
        <servlet-class>manager.DisapproveFeatures</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSeats</servlet-name>
        <servlet-class>admin.SetSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveSeats</servlet-name>
        <servlet-class>manager.ApproveSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisapproveSeats</servlet-name>
        <servlet-class>manager.DisapproveSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginManager</servlet-name>
        <servlet-class>LoginManager</servlet-class>
        <security-role-ref>
            <description/>
            <role-name>Admin</role-name>
            <role-link>Admin</role-link>
        </security-role-ref>
        <security-role-ref>
            <description/>
            <role-name>Manager</role-name>
            <role-link>Manager</role-link>
        </security-role-ref>
        <security-role-ref>
            <description/>
            <role-name>Customer</role-name>
            <role-link>Customer</role-link>
        </security-role-ref>
    </servlet>
    <servlet>
        <servlet-name>LogoutManager</servlet-name>
        <servlet-class>LogoutManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerManager</servlet-name>
        <servlet-class>CustomerManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentBooking</servlet-name>
        <servlet-class>customer.CurrentBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookFlight</servlet-name>
        <servlet-class>customer.BookFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlights</servlet-name>
        <servlet-class>customer.SearchFlights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseFlight</servlet-name>
        <servlet-class>customer.ChooseFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OriginCompleter</servlet-name>
        <servlet-class>OriginCompleter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceAndSeats</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeFeatures</servlet-name>
        <url-pattern>/ChangeFeatures.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveFeatures</servlet-name>
        <url-pattern>/ApproveFeatures.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisapproveFeatures</servlet-name>
        <url-pattern>/DisapproveFeatures.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSeats</servlet-name>
        <url-pattern>/SetSeats.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveSeats</servlet-name>
        <url-pattern>/ApproveSeats.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisapproveSeats</servlet-name>
        <url-pattern>/DisapproveSeats.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginManager</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutManager</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerManager</servlet-name>
        <url-pattern>/BookFlight</url-pattern>
        <url-pattern>/CurrentBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlights</servlet-name>
        <url-pattern>/SearchFlights.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseFlight</servlet-name>
        <url-pattern>/ChooseFlight.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentBooking</servlet-name>
        <url-pattern>/CurrentBooking.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookFlight</servlet-name>
        <url-pattern>/BookFlight.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OriginCompleter</servlet-name>
        <url-pattern>/OriginCompleter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceAndSeats</servlet-name>
        <url-pattern>/PriceAndSeats</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Admin Resources</display-name>
        <web-resource-collection>
            <web-resource-name>Change Features</web-resource-name>
            <description/>
            <url-pattern>/ChangeFeatures.jsp</url-pattern>
            <url-pattern>/SetSeats.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Manager Resources</display-name>
        <web-resource-collection>
            <web-resource-name>Approve Features</web-resource-name>
            <description/>
            <url-pattern>/ApproveFeatures.jsp</url-pattern>
            <url-pattern>/ApproveSeats.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Manager</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Restricted Servlets and JSPS</display-name>
        <web-resource-collection>
            <web-resource-name>Restricted Servlets</web-resource-name>
            <description/>
            <url-pattern>/ApproveFeatures.do</url-pattern>
            <url-pattern>/DisapproveFeatures.do</url-pattern>
            <url-pattern>/ChangeFeatures.do</url-pattern>
            <url-pattern>/ApproveSeats.do</url-pattern>
            <url-pattern>/DisapproveSeats.do</url-pattern>
            <url-pattern>/SetSeats.do</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>Login</display-name>
        <web-resource-collection>
            <web-resource-name>Login Page</web-resource-name>
            <description/>
            <url-pattern>/Login</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
            <role-name>Manager</role-name>
            <role-name>Customer</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Customer Resources</display-name>
        <web-resource-collection>
            <web-resource-name>All Resources</web-resource-name>
            <description/>
            <url-pattern>/CurrentBooking.do</url-pattern>
            <url-pattern>/BookFlight.do</url-pattern>
            <url-pattern>/SearchFlights.do</url-pattern>
            <url-pattern>/ChooseFlight.do</url-pattern>
            <url-pattern>/CurrentBooking</url-pattern>
            <url-pattern>/BookFlight</url-pattern>
            <url-pattern>/SearchFlights</url-pattern>
            <url-pattern>/ChooseFlight</url-pattern>
            <url-pattern>/ChooseFlight.jsp</url-pattern>
            <url-pattern>/ShowItinery.jsp</url-pattern>
            <url-pattern>/SearchFlights.jsp</url-pattern>
            <url-pattern>/CurrentBooking.jsp</url-pattern>
            <url-pattern>/BookFlight.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Customer</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/WEB-INF/Login.jsp</form-login-page>
            <form-error-page>/ErrorPage.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Manager</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Customer</role-name>
    </security-role>
</web-app>
